<script src="{{{cdn 'public'}}}/js/select2.min.js"></script>
<form method="POST" class="d-block ajaxForm" action="{{action}}">
    <div class="form-row">
        <div class="form-group row col-md-12">
            <div class="form-group col-md-4">
                <label for="session">
                    session year
                </label>
                <input type="number" min="2010" max="2999" placeholder="session year" value="{{session.year}}"
                    class="form-control" id="year" name="year" required>
                <small id="" class="form-text text-muted">
                    provide session year
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="session">
                    session month
                </label>
                <input type="number" min="1" max="12" placeholder="session month" value="{{session.month}}"
                    class="form-control" id="month" name="month" required>
                <small id="" class="form-text text-muted">
                    provide session month
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="date">
                    session date
                </label>
                <input type="number" min="1" max="31" placeholder="session date" value="{{session.date}}"
                    class="form-control" id="date" name="date" required>
                <small id="" class="form-text text-muted">
                    provide session date
                </small>
            </div>
        </div>
        <div class="form-group row col-md-12">

            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-info" type="submit">
                    {{#if session}}
                    update session
                    {{else}}
                    create session
                    {{/if}}
                </button>
            </div>
            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
</form>

<script>
    $(document).ready(function () {
        $('#duration').select2({
            dropdownParent: $('#large-modal')
        });
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllManages);
    });
</script>