<table id="basic-datatable" class="table table-striped td-responsive nowrap" width="100%">
    <thead>
        <tr style="background-color: #313a46; color: #ababab;">
            {{#each headers}}
            {{#ifEquals head 'description'}}
            {{else}}
            <th>{{head}}</th>
            {{/ifEquals}}
            {{/each}}

            <th>options</th>
        </tr>
    </thead>
    <tbody>
        {{#each sections}}
        <tr>
            <td class="row">
                <div class="col-sm-6">
                    <div class="rounded-circle rounded-bottom js--image-preview" style="background-image: url({{#if upload}}{{image}}{{upload.path}}{{else}}{{{cdn 'public'}}}/images/avatar.jpg{{/if}});width:100px;
                        height:100px; background-color: #F5F5F5;">
                    </div>
                    <div class="mt-1 col-md-8 col-sm-6">
                        {{section}}
                    </div>
                </div>
            </td>
            <td>{{caption}}
            <td>
                <div class="dropdown text-center">
                    <button type="button"
                        class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop"
                        data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="largeModal('/{{../route}}/edit/{{id}}', 'update {{../model}}', 'mdi mdi-pencil text-info');"><i
                                class="mdi mdi-update text-info"></i> edit</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="mediumModal('/{{../route}}/upload/{{id}}', 'upload {{../model}} image', 'mdi mdi-account-box text-info');"><i
                                class="mdi mdi-account-box text-info"></i> upload</a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="confirmModal('/{{../route}}/delete/{{id}}', showAllManages)"><i
                                class="mdi mdi-delete text-danger"></i> delete</a>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>