<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu left-side-menu-detached content-main" style="z-index: 0;">

    <div class="leftbar-user">
        <a href="javascript: void(0);">
            <span class="leftbar-user-name">{{viewManager.name}}</span>
        </a>
    </div>
    <!--- Sidemenu -->
    <ul class="metismenu side-nav side-nav-light">
        <li class="side-nav-title side-nav-item">{{viewManager.role.role}} {{ 'Navigation'}}</li>

        {{#each menus}}
        <li class="side-nav-item" id="{{display_name}}-mail-li">
            <a class="side-nav-link" id="{{display_name}}-main-a">
                <i class="{{icon}}"></i>
                <span>
                    {{ display_name}}
                </span>
                <span class="menu-arrow"></span>
            </a>
            <ul class="side-nav-second-level" aria-expanded="false" id="{{display_name}}-main-ul">
                {{#each ../sub_menu}}

                {{#ifEquals parent ../id}}
                <li class="side-nav-item _item" id="{{ display_name}}-small-li">
                    <a onclick="loadPage('/backend/{{../../viewManager.role.role}}{{route_name}}','{{display_name}}', '{{ display_name}}', '{{ ../display_name}}')"
                        aria-expanded="false">
                        <i class="{{icon}}"></i>
                        <span>{{display_name}}</span>
                    </a>
                </li>
                {{/ifEquals}}
                {{/each}}
            </ul>

        </li>
        {{/each}}
        <!-- another loop-->

    </ul>
    <div class="clearfix mt-10">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    © <a href="/" target="_blank">
                        Saincraft Technologies
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>