<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">
                <!-- Logo -->
                <div class="text-center text-lg-left mb-3">
                    <a href="/">
                        <span><img src="{{{cdn 'public'}}}/icons/LogoC@300x.png" alt="" height=" 75"></span>
                    </a>
                </div>
                <h4 class="mt-0">Sign in</h4>
                <p class="text-muted mb-4">Enter your email</p>
                {{#if messages.error}}
                <div class="alert alert-danger mt-3">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{#ifEquals messages.error 'User dont exist!'}}
                    <strong>Oh snap!</strong> {{messages.error}} <a href="#" disabled>sign up</a>
                    {{else}}
                    <strong>Oh snap!</strong> {{messages.error}}
                    {{/ifEquals}}
                </div>
                {{/if}}
                <!-- form -->
                <form class="form-wrapper" action="/auth/signin" method="post" id="loginForm">
                    <div class="form-class">
                        <label for="emailaddress">email</label>
                        <p class="input-group">
                            <input class="form-control" type="email" name="email" id="emailaddress" required=""
                                placeholder="enter your email">
                            <span class="input-group-text">
                                <i class="mdi mdi-account" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="form-class">
                        <a href="/auth/recovery" class="text-muted float-right"><small>forgot password</small></a>
                        <label for="password">password</label>
                        <p class="input-group">
                            <input class="form-control" type="password" name="password" required id="password"
                                placeholder=" enter your password" type="password" size="30" aria-required="false">
                            <span class="input-group-text" role="button" style="cursor: pointer;" title="veiw password"
                                id="passBtn">
                                <i class="mdi mdi-eye-outline" aria-hidden="true"></i>
                            </span>
                        </p>
                        <span class="text-danger" id="error_message"></span>
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-info btn-block" type="submit"><i class="mdi mdi-login"></i>
                            Sign in </button>
                    </div>
                </form>
                <form target="_top" class="form-group mt-4" action="/auth/google" method="GET">
                    <a href="/auth/signup" style="font-size: 14px;"
                        class="btn btn-sm btn-outline-secondary mr-2">register
                    </a>
                    <button type="submit" class="btn btn-sm btn-outline-secondary"
                        style="display:flexbox; align-content:space-around;"><span style="vertical-align: middle;
    align-content: space-around;">Signin with <i class="mdi mdi-google text-danger"></i>oogle</span>
                    </button>
                </form>

                <form action="/forgot" method="post" id="forgotForm" style="display: none;">
                    <div class="form-group">
                        <a href="/signin" class="text-muted float-right"><small>back to login</small></a>
                        <label for="forgotEmail">email</label>
                        <input class="form-control" type="email" name="email" required="" id="forgotEmail"
                            placeholder="enter your email">
                    </div>
                    <div class="form-group mb-0 text-center">
                        <button class="btn btn-primary btn-block" type="submit"><i class="mdi mdi-login"></i>sent
                            password reset link</button>
                    </div>

                </form>
                <!-- end form-->
            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->

    <!-- Auth fluid right content -->
    <div class="row" style="width:100%; margin-top:20%;">
        {{!-- <h3>WECLOME!</h3> --}}
        <div class="col-md-2"></div>
        <div style="width:100%;" class="col-md-8">

            {{!-- <marquee behavior="alternate" style="color: antiquewhite;" direction="left">
                <h2>This is <span>Sain</span><span style="color:green">craft</span> storekeeper app</h2>
                <h5>Please login to continue!</h5>

                <h5>If you dont have an account please contact your administrator!</h5>
                <h5>If you dont have an administrator please contact us on <a
                        href="mailto:info@saincrafttechnologies.com">info@saincrafttechnologies.com!</a> </h5>

            </marquee> --}}
        </div>
        <div class="col-md-2"></div>
    </div>
    <!-- end Auth fluid right content -->
</div>


<script src="{{{cdn 'public'}}}/js/auth-reg.js"></script>
<!-- end auth-fluid-->

<!-- App js -->