<div class="auth-fluid">
    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">
                <!-- Logo -->
                <div class="text-center text-lg-left mb-3">
                    <a href="/">
                        <span><img src="{{{cdn 'public'}}}/icons/LogoC@300x.png" alt="" height=" 75"></span>
                    </a>
                </div>
                <h4 class="mt-0">Sign up</h4>
                {{#if messages.error}}
                <div class="alert alert-danger mt-3">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{#ifEquals messages.error 'User dont exist!'}}
                    <strong>Oh snap!</strong> {{messages.error}} <a href="#" disabled>sign up</a>
                    {{else}}
                    <strong>Oh snap!</strong> {{messages.error}}
                    {{/ifEquals}}
                </div>
                {{/if}}
                <!-- form -->
                {{>google}}
                <form class="form-wrapper" action="/auth/signup" method="post" id="loginForm">
                    <div class="form-class">
                        <label for="fullname">Fullname</label>
                        <p class="input-group">
                            <input class="form-control" type="text" name="name" id="fullname" required=""
                                placeholder="enter your name">
                            <span class="input-group-text">
                                <i class="mdi mdi-account" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="form-class">
                        <label for="emailaddress">Email</label>
                        <p class="input-group">
                            <input class="form-control" type="email" name="email" id="emailaddress" required=""
                                placeholder="enter your email">
                            <span class="input-group-text">
                                <i class="mdi mdi-email" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="form-class">
                        <label for="phone">Phone</label>
                        <p class="input-group">
                            <input class="form-control" type="text" name="phone" required id="phone"
                                placeholder=" enter your phone number" type="text" size="14" aria-required="false">
                            <span class="input-group-text" role="button" title="phone number" id="phone">
                                <i class="mdi mdi-phone" aria-hidden="true"></i>
                            </span>
                        </p>
                        <span class="text-danger" id="error_message"></span>
                    </div>
                    <div class="form-class">
                        <label for="password">Password</label>
                        <p class="input-group-append">
                            <input class="form-control" type="password" name="password" required id="password"
                                placeholder=" enter your password" type="password" minlength="8" aria-required="false">
                            <span class="input-group-text" role="button" title="veiw password" id="passBtn">
                                <i class="mdi mdi-eye-outline" aria-hidden="true"></i>
                            </span>
                        </p>
                        <span class="text-danger" id="error_message"></span>
                    </div>

                    <div class="form-class">
                        <label for="rpassword">Repeat-password</label>
                        <p class="input-group-prepend">
                            <input class="form-control" type="password" name="rpassword" required id="rpassword"
                                placeholder=" repeat password" type="rpassword" minlength="8" aria-required="false">
                            <span class="input-group-text" role="button" title="veiw rpassword" id="">
                                <i class="mdi mdi-key" aria-hidden="true"></i>
                            </span>
                        </p>
                        <span class="text-danger" id="error_message"></span>
                    </div>
                    <div class="form-group mb-0  text-center">
                        <button class="btn btn-info mt-2 btn-block disabled submit" type="button"><i
                                class="mdi mdi-account-key"></i>
                            Sign up </button>
                    </div>
                </form>
                <!-- end form-->
            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->
</div>

<script src="{{{cdn 'public'}}}/js/auth-reg.js"></script>