<script src="{{{cdn 'public'}}}/js/select2.min.js"></script>
<form method="POST" class="d-block ajaxForm" action="{{action}}">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="handler">
                handler
            </label>
            <input type="text" placeholder="handler" value="{{role_permission.handler}}" class="form-control"
                id="handler" name="handler" required>
            <small id="" class="form-text text-muted">
                provide handler
            </small>
        </div>
        <div class="form-group col-md-6">
            <label for="role">
                role
            </label>
            <select class="form-control select2" name="roleId" id="roleId">
                <option value="" selected>select role</option>
                {{#each roles}}
                {{#ifEquals id ../role_permission.roleId}}
                <option value="{{id}}" selected>{{role}}</option>
                {{else}}
                <option value="{{id}}">{{role}}</option>
                {{/ifEquals}}
                {{/each}}
            </select>
            <small id="" class="form-text text-muted">
                provide role
            </small>
        </div>

        <div class="form-group col-md-6">
            <label for="permission">
                permission
            </label>
            <select class="form-control select2" name="permissionId" id="permissionId">
                <option value="" selected>select permission</option>
                {{#each permissions}}

                {{#ifEquals id ../role_permission.permissionId}}
                <option value="{{id}}" selected>{{permission}}</option>
                {{else}}
                <option value="{{id}}">{{permission}}</option>
                {{/ifEquals}}
                {{/each}}
            </select>
            <small id="" class="form-text text-muted">
                provide permission
            </small>
        </div>
        <div class="form-group row col-md-12">

            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-info" type="submit">
                    {{#if user}}
                    update role permission
                    {{else}}
                    create role permission
                    {{/if}}
                </button>
            </div>
            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#permissionId').select2({
            dropdownParent: $('#large-modal')
        }); $('#roleId').select2({
            dropdownParent: $('#large-modal')
        });
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {

        $('.loader').removeClass('hidden');
        $('.icon').addClass('hidden');
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllManages);
    });
</script>