<script src="{{{cdn 'public'}}}/js/select2.min.js"></script>
<form method="POST" class="d-block ajaxForm" action="{{action}}">
    <div class="form-row">
        <div class="form-group row col-md-12">

            <div class="form-group col-md-6">
                <label for="attraction">
                    attraction
                </label>
                <input type="text" placeholder="attraction name" value="{{attraction.attraction}}" class="form-control"
                    id="attraction" name="attraction" required>
                <small id="" class="form-text text-muted">
                    provide attraction attraction
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="websiteId">
                    select website
                </label>
                <select class="form-control select2" name="websiteId" id="websiteId">
                    <option value="" selected>select website</option>
                    {{#each websites}}
                    {{#ifEquals id ../attraction.websiteId}}
                    <option value="{{id}}" selected>{{provider}} {{website}}</option>
                    {{else}}
                    <option value="{{id}}">{{provider}} {{website}}</option>
                    {{/ifEquals}}
                    {{/each}}
                </select>
                <small id="" class="form-text text-muted">
                    provide attraction website
                </small>
            </div>
        </div>
        <div class="form-group row col-md-12">

            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-info" type="submit">
                    {{#if attraction}}
                    update attraction
                    {{else}}
                    create attraction
                    {{/if}}
                </button>
            </div>
            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
</form>

<script>
    $(document).ready(function () {
        $('#websiteId').select2({
            dropdownParent: $('#large-modal')
        });
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllManages);
    });
</script>