<script src="{{{cdn 'public'}}}/js/select2.min.js"></script>
<form method="POST" class="d-block ajaxForm" action="{{action}}">
    <div class="form-row">
        <div class="form-group row col-md-12">
            <div class="form-group col-md-6">
                <label for="websiteId">
                    website
                </label>
                <select type="text" placeholder="websiteId" value="{{usage.websiteId}}" class="form-control"
                    id="website" name="websiteId" required>
                    <option value="">select website</option>
                    {{#each websites}}
                    {{#ifEquals id ../bill.websiteId}}
                    <option value="{{id}}" selected>{{owner}}</option>
                    {{else}}
                    <option value="{{id}}">{{owner}}</option>
                    {{/ifEquals}}
                    {{/each}}
                </select>
                <small id="" class="form-text text-muted">
                    provide usage website
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="usageId">
                    Usage
                </label>
                <select type="text" placeholder="usage" class="form-control" id="usageId" name="usageId" required>
                    <option value="">select usage</option>
                    {{#each usages}}
                    {{#ifEquals id ../bill.usageId}}
                    <option value="{{id}}" selected>{{definition}}</option>
                    {{else}}
                    <option value="{{id}}">{{definition}}</option>
                    {{/ifEquals}}
                    {{/each}}
                </select>
                <small id="" class="form-text text-muted">
                    provide usage
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="chargeId">
                    charge
                </label>
                <select type="text" placeholder="charge" class="form-control" id="chargeId" name="chargeId" required>
                    <option value="">select charge</option>
                    {{#each charges}}
                    {{#ifEquals id ../bill.chargeId}}
                    <option value="{{id}}" selected>{{charge}}</option>
                    {{else}}
                    <option value="{{id}}">{{charge}}</option>
                    {{/ifEquals}}
                    {{/each}}
                </select>
                <small id="" class="form-text text-muted">
                    provide charge
                </small>
            </div>
            
        </div>
        <div class="form-group row col-md-12">

            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-info" type="submit">
                    {{#if bill}}
                    update page
                    {{else}}
                    create page
                    {{/if}}
                </button>
            </div>
            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
</form>

<script>
    $(document).ready(function () {
        $('#chargeId').select2({
            dropdownParent: $('#large-modal')
        }); $('#usageId').select2({
            dropdownParent: $('#large-modal')
        }); $('#website').select2({
            dropdownParent: $('#large-modal')
        });
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllManages);
    });
</script>