<script src="{{{cdn 'public'}}}/js/select2.min.js"></script>
<form method="POST" class="d-block ajaxForm" action="{{action}}">
    <div class="form-row">
        <div class="form-group row col-md-12">
            <div class="form-group col-md-6">
                <label for="method">
                    select payment method
                </label>
                <select type="text" placeholder="payment method name" value="{{method.method}}" class="form-control"
                    id="method" name="method" required>
                    <option value="" selected>select payment method</option>
                    {{#ifEquals method.method 'CASH'}}
                    <option value="CASH" selected>Cash</option>
                    {{else}}
                    <option value="CASH">Cash</option>
                    {{/ifEquals}}
                    {{#ifEquals method.method 'MOBILE-MONEY'}}
                    <option value="MOBILE-MONEY" selected>Mobile-money</option>
                    {{else}}
                    <option value="MOBILE-MONEY">Mobile-money</option>
                    {{/ifEquals}}
                    {{#ifEquals method.method 'BANK'}}
                    <option value="BANK" selected>Bank</option>
                    {{else}}
                    <option value="BANK">Bank</option>
                    {{/ifEquals}}
                    {{#ifEquals method.method 'E-PAYMENT'}}
                    <option value="E-PAYMENT" selected>E-Payment</option>
                    {{else}}
                    <option value="E-PAYMENT">E-Payment</option>
                    {{/ifEquals}}
                </select>
                <small id="" class="form-text text-muted">
                    provide payment method
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="provider">
                    provider
                </label>
                <input type="text" placeholder="payment method provider" value="{{method.provider}}"
                    class="form-control" id="provider" name="provider" required>
                <small id="" class="form-text text-muted">
                    provide method provider
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="receipt_length">
                    receipt_length
                </label>
                <input type="text" placeholder="receipt_length" value="{{method.receipt_length}}" class="form-control"
                    id="receipt_length" name="receipt_length" required>
                <small id="" class="form-text text-muted">
                    provide method receipt_length
                </small>
            </div>
        </div>
        <div class="form-group row col-md-12">

            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-info" type="submit">
                    {{#if method}}
                    update method
                    {{else}}
                    create method
                    {{/if}}
                </button>
            </div>
            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
</form>

<script>
    $(document).ready(function () {
        $('#method').select2({
            dropdownParent: $('#large-modal')
        });
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllManages);
    });
</script>