<script src="{{{cdn 'public'}}}/js/select2.min.js"></script>
<form method="POST" class="d-block ajaxForm" action="{{action}}">
    <div class="form-row">
        <div class="form-group row col-md-12">
            <div class="form-group col-md-6">
                <label for="page_name">
                    page name
                </label>
                <input type="text" placeholder="page name" value="{{page.page_name}}" class="form-control" id="page_name"
                    name="page_name" required>
                <small id="" class="form-text text-muted">
                    provide page name should be small letter & no space. Since it is used to create routes.
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="title">
                    title
                </label>
                <input type="text" placeholder="title" value="{{page.title}}" class="form-control" id="title"
                    name="title" required>
                <small id="" class="form-text text-muted">
                    provide page title
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="caption">
                    caption
                </label>
                <textarea placeholder="caption .." class="form-control" id="caption" name="caption"
                    required>{{page.caption}}</textarea>
                <small id="" class="form-text text-muted">
                    provide caption
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="description">
                    description
                </label>
                <textarea placeholder="description .." class="form-control" id="description"
                    name="description">{{page.description}}</textarea>
                <small id="" class="form-text text-muted">
                    provide description
                </small>
            </div>
        </div>
        <div class="form-group row col-md-12">

            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-info" type="submit">
                    {{#if page}}
                    update page
                    {{else}}
                    create page
                    {{/if}}
                </button>
            </div>
            <div class="form-group mt-2 col-md-6">
                <button class="btn btn-block btn-secondary" type="reset" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
</form>

<script>
    $(document).ready(function () {
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllManages);
    });
</script>